.woocommerce-multistep-checkout {
  ul.nav-wizard {
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    zoom: 1;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;

    &:before {
      display: block;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 46px;
      height: 47px;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4;
      z-index: 11;
      content: " ";
    }

    &:after {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 138px;
      height: 47px;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4;
      z-index: 11;
      content: " ";
    }

    li {
      position: relative;
      float: left;
      height: 46px;
      display: inline-block;
      vertical-align: middle;
      padding: 0 20px 0 30px;
      margin: 0;
      font-size: 16px;
      line-height: 46px;

      &:before {
        position: absolute;
        display: block;
        border: 24px solid transparent;
        border-left: 16px solid #d4d4d4;
        border-right: 0;
        top: -1px;
        z-index: 10;
        content: '';
        right: -16px;
      }

      &:after {
        position: absolute;
        display: block;
        border: 24px solid transparent;
        border-left: 16px solid #f9f9f9;
        border-right: 0;
        top: -1px;
        z-index: 10;
        content: '';
        right: -15px;
      }

      &.active {
        color: #3a87ad;
        background: #d9edf7;

        &:after {
          border-left: 16px solid #d9edf7;
        }

        a, a:active, a:visited, a:focus {
          color: #3a87ad;
          background: #d9edf7;
        }

        ~ li {
          color: #999999;
          background: #ededed;

          &:after {
            border-left: 16px solid #ededed;
          }

          a, a:active, a:visited, a:focus {
            color: #999999;
            background: #ededed;
          }
        }
      }

      a {
        color: #468847;
        padding: 0;
        text-decoration: none;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .step-buttons {
    display: block;
    width: 100%;
    clear: both;
    margin-top: 1.5em;

    .next-step-button {
      float: right;
    }
  }
}

@media (max-width: 600px) {
  .woocommerce-multistep-checkout ul.nav-wizard {
    &:before, &:after {
      display: none;
    }
    li {
      display: block;
      float: none;

      &:before, &:after {
        display: none;
      }

      .active:after {
        display: none;
      }

      a {
        display: block;
      }
    }
  }
}