.vat-data {
  li {
    padding: .5em 0.2em;
    margin-bottom: .5em;

    strong {
      font-weight: normal;
      font-style: italic;
      display: inline-flex;
      background: #eee;
      border-radius: 4px;
      padding: .2em .4em;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.invoice_data {
  padding: 10px !important;

  h2 {
    margin: 0 !important;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-size: 21px;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 1px 1px 1px white;
    padding: 0;
  }

  h4 {
    color: #333;
    margin: 1.33em 0 0;
  }

  .invoice-delete-wrapper {
    box-shadow: none;
    display: none;
    margin-bottom: 0 !important;
  }

  a.invoice-delete {
    color: red;
    text-decoration: none;
    margin-right: 1em;
  }

  p {
    color: #777;

    &.invoice_summary {
      margin: 0;
      font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
      font-weight: normal;
      line-height: 1.6em;
      font-size: 16px;
    }

    &.button-wrap {
      text-align: right;
      margin-bottom: 0;
    }
  }

  .form-field {
    .button {
      margin-top: 0.1em !important;
      display: block;
    }
  }

  .not_delivered {
    color: red;
  }

  .is_delivered {
    color: green;
  }

  .invoice_data_column_container {
    clear: both;

    .invoice_data_column {
      width: 32%;
      padding: 0 2% 0 0;
      float: left;

      p {
        padding: 0 !important;
      }

      .form-field {
        float: left;
        width: 48%;
        padding: 0;
        margin: 9px 0 0 0;

        &.last {
          float: right;
        }

        &.form-field-wide {
          width: 100%;
          clear: both;

          input, textarea, select {
            width: 100%;
          }
        }
      }
      label {
        display: block;
        padding: 0 0 3px;
      }
      input, textarea, select {
        width: 100%;
      }

      #invoice_status_chosen {
        .chosen-search {
          display: none;
        }
        .chosen-container {
          width: 100% !important;
        }
      }

      .date-picker-field {
        width: 50%;
      }
      small {
        display: block;
        margin: 5px 0 0 0;
        color: #999;
      }

      p.none_set {
        color: #999;
      }

      &:last-child {
        padding-right: 0;
        width: 64%;
      }
    }
  }
}

input#woocommerce_gzdp_invoice_margins, input#woocommerce_gzdp_invoice_first_page_margins {
  width: auto;
}

.order_actions .download, .wc-action-button-download {
  display: block;
  text-indent: -9999px;
  position: relative;
  padding: 0 !important;
  height: 2em !important;
  width: 2em;

  &::after {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant:normal;
    text-transform:none;
    -webkit-font-smoothing:antialiased;
    margin:0;
    text-indent:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    line-height: 1.85;
    content: "\e00d";
  }

  &.wc-action-button-download {
    &::after {
      content: "\f103";
    }
  }
}

.wc-gzdp-attachment-wrapper {
  .button-wc-gzdp-attachment-field {
    float: left;
  }
  div.current-attachment {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 0.5em;
    line-height: 1.5em;

    a {
      text-decoration: none;

      &.unset-attachment {
        color: #a8a8a8;
      }
    }
  }
}

.wc-gzd-admin-settings td.forminp-number .description {
  display: inline-block;
  margin-top: 5px;
}

.wc-gzdp-generator-sidebar {
  width: 40% !important;

  .info {
    display: none;
  }

  &.wc-gzdp-generator-editor-sidebar {
    display: none;
  }
}

.wc-gzd-admin-settings {
  &.wc-gzd-admin-settings-widerruf, &.wc-gzd-admin-settings-agbs {
    border: none !important;
    width: 60% !important;
  }

  &.wc-gzdp-editor-result {
    width: 100% !important;
  }

  .wc-gzdp-generator {
    &.wc-gzdp-generator-loading {
      opacity: 0;
    }

    .form-table {
      tr th, tr td {
        display: block !important;
      }

      td.wc-gzdp-notice {
        margin-top: 0;
        padding: 1em !important;
        font-size: 0.9em;

        p {
          font-size: 1em;
        }
      }

      td.wc-gzdp-disclaimer {
        padding: 1em !important;
        margin-top: 2em;

        .disclaimer-text {
          font-size: 0.9em;
          display: block;
          margin-bottom: 1em;

          p {
            font-size: 1em;
          }
          h3 {
            margin-top: 0;
          }
        }

        fieldset {
          font-size: 0.9em;

          label {
            display: inline-block;
            position: relative;
            padding-left: 30px;
          }
          input[type=checkbox] {
            position: absolute;
            margin-left: -25px;
            margin-top: 3px;
          }
        }
      }

      tr {
        th {
          padding: 10px 0;
        }
        td {
          padding-bottom: 0;

          textarea {
            min-height: 120px;
            min-width: 60%;
          }

          input[type=text], textarea {
            width: 100%;

            &.wc-gzdp-input-error {
              border: 1px solid #dc3232;
            }
          }

          &.forminp {
            padding: 0;
          }

          &.forminp-checkbox, &.forminp-radio {
            padding-top: .5em;
          }
        }

        label {
          font-weight: normal;

          .wc-gzdp-mandatory {
            font-size: 0.8em;
            margin-left: 0.5em;
            float: right;
            color: #999;
            font-style: italic;
            font-weight: normal;
          }
        }
      }
    }

    .help_tip {
      margin-top: 2px !important;
    }

    .version {
      color: #777;
      font-size: 0.9em;
    }

    .titledesc {
      width: 100%;
    }

    h2 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 1.5em;
    }

    .wc-gzdp-generator-submit {
      display: none;
    }
  }
}

.wc-gzdp-submit-wrapper {
  width: 100%;
  text-align: right;
}
.wc-gzdp-unconfirmed {
  color: #a00;
  margin-right: 1em;
}
.wc-gzdp-confirmed {
  color: #73a724;
}
._unit_price_auto_field label, ._unit_price_auto_field input, ._unit_price_auto_field .wc-gzd-premium-desc {
  opacity: 1 !important;
}
.wc-gzd-pro {
  display: none;
}

input.wc_input_error {
  border-color: #dd3d36;
}

.wc-gzdp-reset-checkbox {
  margin-left: 10px;
}

table.wc-gzdp-legal-checkboxes {
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #e5e5e5;
}

#order_data table.wc-gzdp-legal-checkboxes {
  margin: 1em 0;
  width: 100%;
}

table.wc-gzdp-legal-checkboxes {
  tr td, tr th {
    text-align: left;
    padding: 5px;
  }

  tr th {
    background: #F9F9F9;
    border-bottom: 1px solid #e5e5e5;
  }

  tbody {
    tr:nth-child(even) {
      background: #F9F9F9;
    }
    td:last-child {
      text-align: left;
    }
  }
}

.wc-gzdp-dash-icon {
  text-indent: 9999px;
  position: relative;
  font-size: 18px;
  text-align: center;
  width: 2em;
  left: .5em;

  &::after {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 1.85;
  }

  &.wc-gzdp-dash-icon-yes::after {
    content: '\f147';
  }
  &.wc-gzdp-dash-icon-no::after {
    content: '\f335';
  }
}

#woocommerce-gzdp-rating-checkboxes table.wc-gzdp-legal-checkboxes {
  width: 100%;
  margin: 1em 0;
}